{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_composer_fields_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
composer-fields plugin outlet
</div>
  {{/if}}
{{/if}}
