{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_category_custom_settings_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
category-custom-settings plugin outlet
</div>
  {{/if}}
{{/if}}
