{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
    {{#if siteSettings.mitt_show_admin_menu_enabled}}
        <li class="mitt-outlet-location">
            <i class="fa fa-plug"></i>
            {{i18n "mitt_dpol.admin_menu_dpol"}}
        </li>
    {{/if}}
{{/if}}

