{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_topic_title_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
topic-title plugin outlet
</div>
  {{/if}}
{{/if}}
