{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
    {{#if siteSettings.mitt_show_below_site_header_enabled}}
        <div class="mitt-outlet-location">
            <i class="fa fa-plug"></i>
            {{i18n "mitt_dpol.below_site_header_dpol"}}
        </div>
    {{/if}}
{{/if}}