{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_user_custom_preferences_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
user-custom-preferences plugin outlet
</div>
  {{/if}}
{{/if}}
