{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_user_menu_bottom_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
user-menu-bottom plugin outlet
</div>
  {{/if}}
{{/if}}
