{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
    {{#if siteSettings.mitt_show_search_category_enabled}}
        <div class="mitt-outlet-location">
            <i class="fa fa-plug"></i>
            {{i18n "mitt_dpol.search_category_dpol"}}
        </div>
    {{/if}}
{{/if}}
