{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_admin_dashboard_top_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
admin-dashboard-top plugin outlet
</div>
  {{/if}}
{{/if}}
