<div>
    <p>{{{i18n "plugin_outlet_locations.first_para_dpol"}}}</p>
    <p>{{{i18n "plugin_outlet_locations.second_para_dpol"}}}</p>
</div>
<div class='buttons'>
    {{d-button label="plugin_outlet_locations.show" action="showTentacle" icon="eye" id="show-tentacle"}}
    {{d-button label="plugin_outlet_locations.hide" action="hideTentacle" icon="eye" id="hide-tentacle"}}
</div>

{{#if tentacleVisible}}
    <div class='tentacle'>
        <img src="http://eviltrout.com/images/tentacle.gif">
    </div>
{{/if}}