{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
    {{#if siteSettings.mitt_show_create_account_before_password_enabled}}
        <div class="mitt-outlet-location">
            <i class="fa fa-plug"></i>
            {{i18n "mitt_dpol.create_account_before_password_dpol"}}
        </div>
    {{/if}}
{{/if}}
