{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_poster_avatar_bottom_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
poster-avatar-bottom plugin outlet
</div>
  {{/if}}
{{/if}}
