.mitt-outlet-location {
  display: inline-block;
  outline: 2px solid #060;
  background-color: rgba(140, 220, 140, 0.6);
  margin: 0;
  padding: 0 0.2em;
  list-style: none;
  color: #030;
  font-weight: bold;
  font-size:  0.9em;
}
/*
.mitt-show-header-notifications .mitt-outlet-location i:before,
.mitt-show-header-before-notifications .mitt-outlet-location i:before {
  font-size: 0.6em;
}
*/
#user-card .mitt-show-user-card-post-names .mitt-outlet-location, 
#user-card .mitt-show-user-card-metadata .mitt-outlet-location {
  display: inline-block;
  background-color: rgba(140, 220, 140, 1);
  margin: 0;
  padding: 0 0.2em;
  color: #030;
}
#user-card .mitt-show-user-card-post-names i:before, 
#user-card .mitt-show-user-card-metadata i:before {
  color: #030;
}
.mitt-show-user-profile-primary .mitt-outlet-location,
.mitt-show-user-profile-public-fields .mitt-outlet-location,
.mitt-show-user-profile-controls .mitt-outlet-location {
  background-color: rgba(140, 220, 140, 1);
}