{{#if controller.siteSettings.in_topic_admin_menu_active }}
<li id="in-topic-admin-menu">
{{d-button action="showNewButton" icon="plug" label="topic.actions.new_button" class="btn-admin"}}
</li>
{{/if}}
