{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
    {{#if siteSettings.mitt_show_post_revisions_enabled}}
        <div class="mitt-outlet-location">
            <i class="fa fa-plug"></i>
            {{i18n "mitt_dpol.post_revisions_dpol"}}
        </div>
    {{/if}}
{{/if}}
