{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_user_card_post_names_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
user-card-post-names plugin outlet
</div>
  {{/if}}
{{/if}}
