{{#if siteSettings.mitt_plugin_outlet_locations_enabled}}
  {{#if siteSettings.mitt_show_user_profile_primary_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
user-profile-primary plugin outlet
</div>
  {{/if}}
{{/if}}
