{{#if context.site.mobileView}}
  {{#if context.siteSettings.mitt_plugin_outlet_locations_enabled}}
    {{#if context.siteSettings.mitt_show_ml_topic_list_tags_enabled}}
<div class="mitt-outlet-location">
<i class="fa fa-plug"></i>
topic-list-tags plugin outlet
</div>
    {{/if}}
  {{/if}}
{{/if}}